html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}
.image-container {
  overflow: hidden;
}
.image-container img {
  display: block;
  max-width: 100%;
}

/*header with logo*/
header {
  width: 100%;
  height: 3.13rem;
  border-bottom: solid 1px seashell;
}
header .content {
  display: flex;
  align-items: center;
  padding: 0.43rem;
}

header .logo {
  margin-left: 0.45rem;
  height: 2.27rem;
}
header ul {
  display: flex;
  text-decoration: underline;
  margin-left: 60rem;
}
li {
  display: inline-flex;
  margin-right: 1rem;
  font-size: .82rem;
}
.missionbackground  {
  height: auto;
  width: 54rem;
}
.heading  {
  background-color: black;


}
.heading2  {
  
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem 22rem;
  transform: translate(-50%, -50%);
  background-color: black;
  color: seashell;
  font-size: 2rem;
  font-weight: bold;
}
.ourmission  {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  top: -0.5rem;
  white-space: nowrap;

}
.heading4  {
  min-width: 55rem;
  height: 1rem;
  background-color: black;
  font-weight: bold;
  padding-top: 1rem;
}
.handpicked  {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  bottom: -0.2rem;
}
.heading3  {
  min-width: 55rem;
  height: auto;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}

/* Features Section */

.row  {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: black;
  
}
#featured-teas  {
  padding: 2rem;
    
}
.feature {
  flex: 1;
  padding: 1rem;
  margin: 0px 1.25rem;
  background-color: black;
  
}

.feature .image-container {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.feature .content {
  padding: 1rem 0;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: bold;
  color: seashell;
  
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: seashell;
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
  .feature .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}

/* locations section */



.locations {
  height: 25rem;
}
.addresses {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  top: 40%;
  margin-left: 50px;
  

}
.locationbackground {
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: no-repeat;
  margin: auto;
  width: 54rem;
  height: 25rem;
}
.location1 {
  
  background-color: black;
  color: white;
  padding: .25rem;
}
.location2 {
  
  background-color: black;
  color: white;
  padding: .25rem;
}
.location3 {
  
  background-color: black;
  color: white;
  padding: .25rem;
}
.locbox {
  opacity: 1;
  width: 13.6rem;
}
.loctitle {
  font-size: 40px;
  
}
h2 {
font-size: 40px;
}
footer {
  text-align: left;
  margin: 20px;
}